@import "./mixin";

.bodyCtn {
  //   background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
  //   background-image: linear-gradient(-20deg, #2b5876 0%, #4e4376 100%);

  padding: 0 5%;
  display: flex;
  flex-direction: column;

  .posttCtn {
    width: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    padding-bottom: 50px;
    padding-top: 20px;
    background: #0f2027;
    background: -webkit-linear-gradient(to right, #2c5364, #203a43, #0f2027);
    background: linear-gradient(to right, #0d1215, #203a43, #0e1517);
    margin: 0 auto;

    @include laptop {
      gap: 30px;
      width: 70%;
    }

    .infoDiv {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding-bottom: 10px;

      .blue {
        color: rgb(114, 114, 255);
      }
    }

    .genres {
      width: 100%;
      margin: 0 auto;
      display: flex;
      justify-content: center;
      gap: 10px;

      .genre {
        border-radius: 20px;
        border: solid 1px white;
        background-color: black;
        padding: 10px 20px;
        color: white;
      }
    }

    h1 {
      color: white;
    }

    span {
      color: white;
      font-size: 1.1rem;
    }

    .imgCtn {
      width: 500px;
      height: 500px;

      @include tablet {
        width: 80%;
        height: 400px;
      }

      @include laptop {
        width: 40%;
      }
      img {
        object-fit: contain;
        width: 100%;
        height: 100%;

        @include tablet {
          object-fit: contain;
          border-radius: 5px;
        }
      }
    }
  }

  .inputDiv {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 0px 10px;
    margin-top: 40px;

    textarea {
      width: 90%;
      height: 300px;
      border-radius: 5px;
      box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.183);
      border: solid 2px white;

      @include tablet {
        width: 500px !important;
      }
    }

    button {
      border: none;
      padding: 10px 20px;
      background-color: rgb(52, 171, 52);
      color: white;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.223);
      border-radius: 20px;
      cursor: pointer;
    }

    button:hover {
      background-color: black;
      transition: 0.2s ease-in-out;
    }
  }
}
