@import "./mixin";

.container {
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30%;

  @include tablet {
    padding-top: unset;
    justify-content: center;
  }

  .contentCtn {
    width: 90%;
    background-color: white;
    border-radius: 10px;
    padding: 30px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;

    @include tablet {
      width: 60%;
    }

    @include laptop {
      width: 40%;
    }

    @include desktop {
      width: 25%;
    }

    h2 {
      font-size: 2rem;
    }

    span {
      color: blue;
      font-size: 0.9rem;
      cursor: pointer;
    }

    .errorSpan {
      color: red;
    }

    .btn {
      padding: 10px 25px;
      margin-top: 10px;
      border-radius: 20px;
      background-color: #6767e0;
      color: white;
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.249);
      border: none;
      cursor: pointer;
    }

    .inputs {
      background-color: white;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      margin: 0 auto;
      gap: 35px;

      .input {
        background-color: white;
        color: white;
        display: flex;
        flex-direction: column;

        width: 70%;
        margin: 0 auto;
        gap: 5px;

        label {
          color: black;
          left: 0;
          top: 0;
        }

        input {
          height: 1.8rem;
          width: 100% !important;
          border: none;
          border-bottom: 1px solid rgb(156, 156, 156);
        }
      }
    }
  }
}
