@import "./mixin";
.searchCtn {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 30px;

  .imgCtn {
    width: 150px;
    height: 150px;

    border-radius: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;

    img {
      object-fit: cover;
      height: 100%;
      width: 100%;
      border-radius: 100%;
      border: solid 2px black;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.277);
    }
  }

  .inputDiv {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
    border-bottom: solid 1px grey;
    padding-bottom: 20px;

    @include desktop {
      width: 60%;
    }

    h3 {
      color: white;
    }

    input {
      width: 60%;
      height: 2rem;
      border: solid 1px grey;
      border-radius: 5px;
      border-radius: 15px;
      padding-left: 5px;
    }

    button {
      border-radius: 20px;
      padding: 10px 20px;
      border: none;
      box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.22);
      background-color: rgb(46, 46, 46);
      color: white;
      margin-top: 10px;
      cursor: pointer;
    }
    button:hover {
      background-color: black;
      color: white;
    }
  }
}

.postsCtn2 {
  .post {
    .infoDiv {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;
      padding: 10px 10px;
    }
  }
}

.notFound {
  width: 100%;
  display: flex;
  justify-content: center;
}

a {
  color: black;
  text-decoration: none;
}
